/*
* font-family: 'Cormorant Garamond', serif;
* font-family: 'Quattrocento', serif;
* font-family: 'Rancho', cursive;
* font-family: 'Fredericka the Great', cursive;
* font-family: 'Marcellus', serif;
* font-family: 'El Messiri', sans-serif;
* font-family: 'Gabriela', serif;
* font-family: 'Bellefair', serif;
* font-family: 'Mystery Quest', cursive;
* font-family: 'Junge', serif;
* font-family: 'Esteban', serif;
* font-family: 'Della Respira', serif;
* font-family: 'Jacques Francois', serif;
*/

font-family: 'Quattrocento', garamond;

/* ===================================================================
 * # base style overrides
 *
 * ------------------------------------------------------------------- */

html, body {
    height: 100%;
}

body {
    background: #FFFFFF; 
    font-family: "Quattrocento", garamond;
    font-size: 1rem;
    color: #111133;  /* Navy Blue Text */
    margin: 0;
    line-height: 2rem;
}

/* ------------------------------------------------------------------- 
 * ## links
 * ------------------------------------------------------------------- */
a {
    color: #0087cc;
}

a:hover, a:focus, a:active {
    color: #FFFFFF;
}

a:hover, a:active {
    outline: 0;
}

/* ===================================================================
 * # typography & general theme styles
 * 
 * ------------------------------------------------------------------- */

p {
    padding-bottom: 1rem;
}

h1, h2, h3, h4, h5, h6, 
.h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: "quattrocento", garamond;
    color: #FFFFFF;
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6  {
    color: #111133;
    /*margin-top: 6rem;
    margin-bottom: 1.8rem;*/
}

h6, .h6 {
    color: #111133;
    margin-top: 2.2rem;
    margin-bottom: .5rem;
}

h5, .h5 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

h1, .h1 {
    font-size: 3.6rem;
    /*margin-top: 4.2rem;
    margin-bottom: 1.5rem;*/
}

h2, .h2 {
    font-size: 3rem;
    /*margin-top: 4.2rem;
    margin-bottom: 1.5rem;*/
}

h3, .h3 {
    font-size: 2.4rem;
    /*margin-top: 4.2rem;
    margin-bottom: 1.5rem;*/
}

h4, .h4 {
    font-size: 2.1rem;
    margin-top: 4.5rem;
    margin-bottom: 1rem;
}

h5, .h5 {
    font-size: 1.6rem;
    /*margin-top: 4.2rem;
    margin-bottom: 1.5rem;*/
}

h6, .h6 {
    font-size: 1.3rem;
    /*margin-top: 4.2rem;
    margin-bottom: 1.5rem;*/
}
h6{ position:relative; }

h6 span{ position:absolute; top:-3rem;}
/* ------------------------------------------------------------------- 
 * ## section header
 * ------------------------------------------------------------------- */
.section-header {
    text-align: center;
    /*position: relative;*/
    padding-top: 3rem;
    padding-left: 25px;
    padding-right: 25px;
}

/* ===================================================================
 * # header styles
 *
 * ------------------------------------------------------------------- */
.s-header {
    width: 100%;
    background-color: transparent;
    position: absolute;
    top: 0;
    z-index: 500;
    /*padding-top: 47px;*/
}


/* ------------------------------------------------------------------- 
 * ## main navigation 
 * ------------------------------------------------------------------- */
.main-nav {
    background-color: #111133;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    height: 3rem;
    z-index: 5000;
    line-height: 1rem;

}
.main-nav a {
  color: #FFFFFF;
  background-color: #111133;
  font-family: "quattrocento", sans-serif;
  font-weight: bold; 
  display: block;
  padding: 15px 20px;
  margin: 0;
}
.main-nav a:hover, .main-nav a:focus {
  color: #DBFDFD;
  background-color: #111133;
}
.main-nav ul {
    text-align: center;
    margin:0;
    padding:0;
}
.main-nav li {
    float: none;
    display: inline-block;
    text-align: center;
    margin-right: 1%;
    list-style: none;
    font-weight: 400;
    margin:0;
}
.main-nav li a {
    color: #FFFFFF;
}

/* ===================================================================
 * # home 
 *
 * ------------------------------------------------------------------- */

.s-home {
    padding-top: 16.2rem;
    padding-bottom: 11rem;
    background-color: transparent;
    color: #010507;
    position: relative;
    padding-left: 25px;
    padding-right: 25px;


}

.s-home .shadow-overlay {
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .8;
    background: -webkit-linear-gradient(top, transparent 0%, rgba(131, 176, 228, 0.9) 100%);
    z-index: -1;
}

.s-home .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .9;
    background-color: #DBFDFD; /*lighter blue - originally #90F9F9*/ 
    z-index: -1;
}

/* ===================================================================
 * # aboutMe 
 *
 * ------------------------------------------------------------------- */
.s-aboutMe {
    width: 100%;
    height: 100%;
    background-color: transparent;
    position: relative;
    padding-bottom: 6rem;
}

.s-aboutMe .shadow-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .8;
    background: -webkit-linear-gradient(top, transparent 0%, rgba(131, 176, 228, 0.9) 100%);
    z-index: -1;
}

.s-aboutMe .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .9;
    background-color: #DBFDFD; /*lighter blue - originally #90F9F9*/ 
    z-index: -1;
}

/* ------------------------------------------------------------------- 
 * ## aboutMe content
 * ------------------------------------------------------------------- */
.aboutMe-content {
    width: 100%;
    /*height: 100%;
    vertical-align: middle;*/
    padding-bottom: 0rem;
    position: relative;
}

.aboutMe-content__main {
    position: relative;
    padding-left: 25px;
    padding-right: 8rem;  /* Leave room for aboutMe-social */
}

/* ------------------------------------------------------------------- 
 * ## aboutMe social 
 * ------------------------------------------------------------------- */
.aboutMe-social {
    font-family: "quattrocento", sans-serif;
    list-style: none;
    margin: 0;
    position: absolute;
    top: 50%;
    right: 5.4rem;
    -webkit-transform: translate3d(0, -50%, 0);
    -ms-transform: translate3d(0, -50%, 0);
    transform: translate3d(0, -50%, 0);
}

.aboutMe-social a {
    color: white;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.aboutMe-social li {
    position: relative;
    padding: .9rem 0;
}

.aboutMe-social li a {
    display: block;
    width: 33px;
    height: 33px;
}

.aboutMe-social i, .aboutMe-social span {
    position: absolute;
    top: 0;
    line-height: 33px;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.aboutMe-social i {
    font-size: 14px;
    right: 0;
    text-align: center;
    display: inline-block;
    width: 33px;
    height: 33px;
    line-height: calc(33px - 4px);
    border: 2px solid #FFFFFF;
    border-radius: 50%;
}

.aboutMe-social span {
    color: #FFFFFF;
    right: 4.5rem;
    font-size: 1.3rem;
    font-family: "quattrocento", sans-serif;
    opacity: 0;
    visibility: hidden;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-transform-origin: 100% 50%;
    -ms-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
}

.aboutMe-social li:hover span {
    opacity: 1;
    visibility: visible;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

/* ===================================================================
 * # resume
 *
 * ------------------------------------------------------------------- */
.s-resume {
    padding-bottom: 6rem;
    background-color: transparent;
    color: #010507;
    position: relative;
    padding-left: 25px;
    padding-right: 25px;
}

.s-resume .shadow-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .8;
    background: -webkit-linear-gradient(top, transparent 0%, rgba(131, 176, 228, 0.9) 100%);
    z-index: -1;
}

.s-resume .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .9;
    background-color: #DBFDFD; /*lighter blue - originally #90F9F9*/ 
    z-index: -1;
}


/* ===================================================================
 * # extracurriculars 
 *
 * ------------------------------------------------------------------- */

.s-extracurriculars {
    width: 100%;
    height: 100%;
    background-color: transparent;
    position: relative;
    padding-bottom: 3rem;
}

.s-extracurriculars .shadow-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .8;
    background: -webkit-linear-gradient(top, transparent 0%, rgba(131, 176, 228, 0.9) 100%);  /*darker blue - originally (10, 40, 120, .9)*/
    z-index: -1;
}

.s-extracurriculars .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .9;
    background-color: #DBFDFD;
    z-index: -1;
}

/* To make an image appear when hovering over a link. Use <a href="javascript:;">Happiness Club.</a> to creat empty link in HTML.
.s-extracurriculars a:hover:after {
    content: url('NYCSilhouette.svg'); /* no need for qoutes *//*
    display: block;
    position: absolute;
    left: 100px; /* change this value to one that suits you *//*
    bottom: 1px; /* change this value to one that suits you *//*
}

.extracurriculars-content {
    width: 100%;
    height: 100%;
    vertical-align: middle;
    padding-bottom: 4rem;
    position: relative;
}
*/
.extracurriculars-content__main {
    position: relative;
    padding-left: 25px;
    padding-right: 25px;
}

}

/*# sourceMappingURL=main.css.map */
